<form>
  <div>
    <label for="firstName">First Name:</label>
    <input name="firstName" [(ngModel)]="firstName" type="text" placeholder="Enter First Name" />
  </div>
  <div>
    <label for="lastName">Last Name:</label>
    <input name="lastName" [(ngModel)]="lastName" type="text" placeholder="Enter Last Name" />
  </div>
  <div>
    <label for="siblingName">Sibling Name:</label>
    <select class="form-control" id="siblingName" required>
      <option *ngFor="let name of siblingNames" [value]="siblingName">{{name}}</option>
    </select>
  </div>
</form>